#include "../../common.xcconfig"

//------------------------------
// Global settings

// the basename of the vst, vst3, app, component, dpm, aaxplugin
BINARY_NAME = ATKJUCE

THISPLUGINROOT = $(PLUGINROOT)/ATKJUCE

ADDITIONAL_INCLUDES = $(JUCEROOT)/modules $(JUCEROOT)/modules/juce_audio_plugin_client $(ATKROOT)/include/ $(BOOSTROOT) $(JUCEINCLUDEROOT) $(VST3SDK) $(AAXSDK) $(AAXSDK)/Interfaces $(AAXSDK)/Interfaces/ACF $(PLUGINROOT) $(THISPLUGINROOT) $(THISPLUGINROOT)/Source $(GLMROOT)
ADDITIONAL_LIBRARY_PATHS = $(ATKROOT)/lib/ $(IPPROOT)/lib
